.listhead{
    font-weight: 700;
    font-size: 20px;
}

.list{
    font-style: italic;
    text-transform: uppercase;
}

.h1{
    text-align: center;
}

.h2{
    text-align: center;
}

.h3{
    text-align: center;
    letter-spacing: 7%;
}

.bodytext{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;
}